{% extends 'todo_list/base.html' %}

{% block title %}
	Task Status
{% endblock %}

{% block body %}
	<h2>Task {{ task_id }} status</h2>
    <div>
        <p>
            <b>Status:</b> {{ status }}
        </p>
        <p>
            <b>Ready:</b> {{ ready }}
        </p>
        <p>
            <b>Result:</b> {{ result }}
        </p>
    </div>
    <p>
        <form method="get">
            <label for="task-id">Task ID</label>
            <input id="task-id" name="task_id" type="text" value="{% firstof task_id '' %}">
            <input type="submit" value="Check status">
        </form>
    </p>
{% endblock %}
